body {
    margin: 0 5%;
    background-color: color-mix(in lab, color percentage, color percentage);
}

.attractive-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/**********************************************************/
/* Existing CSS styles */
.service-item {
    /* ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .service-item img {
    max-width: 100%;
    height: auto;
} */

.service-item img {
    width: 300px;
    height: 200px;
}

.service-item h2 {
    margin: 10px 0;
}

.service-item p {
    margin-bottom: 15px;
}

.booking-btn {
    /* Style your booking button */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/************TOP SERVICES ****************************************/
.service-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
    background-color: black;
}

.service-item {
    flex-shrink: 0;
    width: 500px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 2px solid red;
    padding: 20px;
    scroll-snap-align: start;
}


@media (max-width: 768px) {
    .service-item {
        width: calc(100vw / 2);
    }
}

@media (max-width: 576px) {
    .service-item {
        width: 100vw;
    }
}

/************** Service *************************************/